<div id="comment-box" class="comment-box-single">

  <div class="comment text-center" data-commentid={{id}}>
  
    <h4 class="fs-4">{{user.username}}</h4>
    <p class="comment-text fs-3">{{text}}</p>

  </div>
  <div class="comment-button-container">

    {{#if isOwner.valid}}
      <!-- Edit Comment Button trigger modal -->
      <button
        type="button"
        class="btn commentBtn edit"
        id="editComment"
        data-bs-toggle="modal"
        data-bs-target="#editCommentModal"

        {{!-- ID of current comment passed into the edit button --}}
        data-id={{id}}
      >
      <img src="/images/edit.png" >
      </button>
    {{/if}}

    {{#if isOwner.valid}}
      <!-- Delete Comment Button trigger modal -->

      <button
        type="button"
        class="btn commentBtn delete"
        id="deleteComment"

        {{!-- ID of current comment passed into the delete button --}}
        data-id={{id}}
      >
        <img src="/images/delete.png" >
      </button>
    {{/if}}
  </div>



</div>