<div class="navigation bg-dark border-bottom border-white d-flex text-white justify-content-between align-items-center px-5 py-5 mb-5 flex-wrap">
    <div class="singlePostNav d-flex justify-content-between">
        <div class="home-container">
            <a type="button" href='/' value="Home" class="text-white fs-2 profile"><p>Home</p></a>
        </div>
        <div class="profile-container">
            <a href="/user/{{userId}}" class="text-white fs-2 profile"><p>My Posts</p></a>
        </div>
    </div>
    
    <div class="logout-container">
        <a class="text-decoration-none text-white fs-2 " href="#" id="logout"><p>Logout</p></a>
    </div>
</div>


{{!-- data-postId is id of current post --}}
<div class="d-flex flex-column align-items-center justify-content-center post w-100" data-postId="{{post.id}}">
    <div class="single-post-card">

    <div class=" d-flex flex-column  justify-content-center">
        <h2 class="display-2 mt-5 text-center single-post-title">{{post.title}}</h2>
        <div class="fs-2 text-center pb-3"><a href="/user/{{post.user.id}}" class="username">{{post.user.username}}</a></div>

        <div class="card-container d-flex justify-content-center">
            <div class="card-box-single d-flex justify-content-center">
                <img class="card-image-single" src="..{{post.picture}}" alt="pic">
                
            </div>
        </div>
    </div>

    <div class="pb-3 fs-3 mx-auto  single-post-text text-center">{{post.description}}</div>

    <div class="post-buttons">
        <!-- COMMENT Button trigger modal -->
        <button type="button" class="single-post-button btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentModal">
            Add New Comment
        </button>

        {{>newCommentModal}}
<div class="postBtnContainer d-flex">
{{!-- Displays edit button if current user id matches post user id --}}
    {{#if adminOrOwner}}
        <!-- EDIT Button trigger modal -->
        <button type="button" class="btn edit" data-bs-toggle="modal" data-bs-target="#editModal">
            <img src="/images/edit.png" >
        </button>
    {{/if}}
        

{{>editPostModal}}

{{!-- Displays delete button if current user id matches post user id --}}
    {{#if adminOrOwner}}
        <!-- DELETE Button trigger modal -->
        <button type="button" class="btn delete" data-bs-toggle="modal" data-bs-target="#deleteModal" >
            <img src="/images/delete.png" >
        </button>
    {{/if}}
        </div>
    </div>
    </div>
    {{>deletePostModal}}

        {{!-- Comment area displayed only if there are comments --}}
        {{#if post.comments}}
        {{!-- <div id="comment-box" class="comment-box-single"> --}}
            {{#each post.comments as |comment|}}
            {{>comments}}
            {{/each}}
        {{!-- </div> --}}
        {{/if}}
            {{>editCommentModal}}
            {{>deleteCommentModal}}
            {{>confirmCommentModal}}
  
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<script src="/js/singlePost.js"></script>